*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
}

.payment-box{
    background:#1b1b1b;
    padding:30px;
    width:400px;
    border-radius:15px;
}

h2{
    text-align:center;
    color:gold;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    background:gold;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    opacity:.9;
}